body{
    margin: 0%;
    padding: 0%;
    height: 100px;
    width: 100%;
}

.flex-row{
    display: flex;
    flex-flow: nowrap;
    align-items: center;

}

body{
    background: url(../images/bg-desktop-dark.jpg);
    background-size: contain;
}
header{
    justify-content: space-between;
    padding: 52px 0 11px;
}
header,main{
    max-width: 545px;
    margin: 0 auto;
}

.content{
    background-color: hsl(235, 19%, 35%)
    ;
    border-radius: 5px;
    box-shadow: 0 42px 38px -2px;
}
ul{
    list-style: none;
    padding: 0%;
    margin: 0%;
}
ul li{
    padding: 0 10px 0 25px;
    min-height: 65px;
    border-bottom: 1px solid hsl(235, 64%, 45%);

}